@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
.SectionBestSaleBox {
  margin-top: 40px;
  margin-bottom: 40px;
}
.bestProductBox {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.number {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
.number1 {
}
.number2 {
  margin-top: 50px;
}
.number3 {
  margin-top: 50px;
}
.number4 {
  margin-top: 100px;
}
.number5 {
  margin-top: 100px;
}
