.carouselBox {
}
.carousel-inner {

}
.carouselImg {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .carouselBox{
    width: 100%;
  }
.carouselImg {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
}