.SectionCategoriesBox {
  margin: 40px 0;
}
.categoryImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.categoryText {
  margin-top: 5px;
  font-size: 14px;
  color: black;
}
.ColBox {
  display: block;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .SectionCategoriesBox {
  margin: 10px 0 0 0;
}
.categoryImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.categoryText {
  margin-top: 5px;
  font-size: 10px;
  color: black;
}
.row .col:nth-child(6) {
  display: none;
}
.row .col:nth-child(7) {
  display: none;
}
}
