.sectionCart {
}
.allCart_Box {
  display: flex;
}
.allItem_Cart {
  width: 860px;
  padding-right: 20px;
}
.overall_Cart {
  width: 420px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.overall_Cart_item_button {
  margin-top: auto;
}
