.sectionCart {
  margin: 0 0 10rem 0;
}
.allCart_Box {
  display: flex;
}
.allItem_Cart {
  width: 860px;
  padding-right: 20px;
}
.stepBox {
  display: flex;
  margin-bottom: 20px;
}
.stepButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 170px;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border-top: 30px solid transparent; /* ขนาดของส่วนบนของหัวลูกศร */
  border-bottom: 30px solid transparent; /* ขนาดของส่วนล่างของหัวลูกศร */
  border-left: 30px solid white; /* สีของหัวลูกศร */
}
.stepButton::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -29.5px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgb(233, 233, 233);
  transform: translateY(-50%); /* หมุนหัวลูกศร 180 องศา */
  z-index: 1; /* ให้หัวลูกศรอยู่ด้านหน้า */
}

.activeButton {
  background-color: rgb(196, 196, 196);
}
.activeButton::after {
  border-left: 30px solid rgb(196, 196, 196);
}
.allCart_right {
  font-size: 13px;
  margin-top: 50px;
  margin-left: 10px;
}
.couponBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 140px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.couponBox button {
  border: 1px solid rgba(13, 110, 253);
  color: rgba(13, 110, 253);
}
.couponBox button:hover {
  border: 1px solid rgba(13, 110, 253);
  color: rgba(13, 110, 253);
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.overall_Cart {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.overall_Item_Box {
  display: flex;
  margin-bottom: 10px;
}
.overall_Item_1 {
  margin-right: auto;
}
.overall_Item_2 {
  width: 80px;
}
.overall_Item_3 {
  width: 60px;
  margin-left: 20px;
}
.overall_Cart_bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.BankLabel {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.imgBank {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.userAddressBox {
  width: 700px;
  margin: 15px 0;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  gap: 20px;
}
.trash{
  margin-left: auto;
  transition: all 0.55s;
  cursor: pointer;
}
.trash:hover{
  color: red;
}
.userAddressBoxHead {
  display: flex;
  gap: 10px;
}
.userAddressBoxContent {
  display: flex;
  gap: 10px;
}
.userAddressShowBox {
  width: 700px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 20px;
  margin: 15px 0 20px 0;
}
