.DetailSection {
  margin: 3rem 0 15rem 0;
  min-height: 700px;
}
.Link-Box {
  display: flex;
}
.product-box {
  display: flex;
}

.left-box {
  display: flex;
  width: 580px;
}
.product-img-detail-Box{
    border: 10px;
    width: 450px;
  height: 450px;
  margin: 30px;
}
.product-img-detail {
  width: 100%;
  height: 100%;
}
.img-selector-box {
  width: 80px;
}
.img-selector {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.img-selector:hover {
  border: rgb(15, 99, 233) 1px solid;
  border-radius: 10%;
}
.right-box {
  padding: 5px;
}
.brand-products-detail {
  color: rgb(15, 99, 233);
}

.price-products-detail {
  display: flex;
  align-items: center;
}
.discount-price-products-detail {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 7px;
  margin-right: 8px;
}
.discount-text {
  color: red;
}
.quantity-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.quantity-button-box {
  margin-left: 10px;
  display: flex;
  align-items: center;
  outline: #d4d4d4 1px solid;
  border-radius: 10px;
  overflow: hidden;
}
.quantity {
  border: none;
  width: 40px;
  text-align: center;
}
.quantity:focus {
  outline: none;
}
.quantity-button {
  border: none;
  width: 30px;
  height: 30px;
}
.buy-button-box {
  display: flex;
  margin-top: 40px;
}
.admin-button-box {
  display: flex;
  margin-top: 10px;
}
.buy-button {
  background-color: rgb(15, 99, 233, 0.15);
  color: rgb(15, 99, 233);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.incart-button {
  background-color: rgb(15, 99, 233);
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.edit-button {
  background-color: rgb(243, 211, 32);
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.delete-button {
  background-color: rgb(243, 32, 32);
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.detail-box {
  margin-top: 20px;
}
.spac-box {
  margin-top: 40px;
}
.spac-box td {
  text-align: left;
  padding: 10px 12px;
}
.spac-box tr:nth-child(even) {
  background-color: rgb(15, 99, 233, 0.15);
}
.SpecTable td {
  text-align: left;
  padding: 10px 12px;
}
.SpecTable tr:nth-child(even) {
  background-color: rgb(15, 99, 233, 0.15);
}


@media screen and (max-width: 767px) {
  .Link-Box{
    display: none;
  }
  .product-box{
    display: block;
  }
  .left-box{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-selector-box{
    display: none;
  }
  .product-img-detail-Box{
    width: 400px;
  height: 400px;
  margin: 0px;
}
  .right-box{
padding: 15px;
  }
  .detail-box{
    padding: 15px;
    font-size: 12px;
  }
.spac-box {
  margin-top: 40px;
  font-size: 12px;
}
.spec-text-head{
  font-size: 20px;
  padding: 10px 12px;
}
.spac-box td {
  text-align: left;
  padding: 10px 12px;
}
.spac-box td:nth-child(1) {
  width: 30%;
}
.spac-box tr:nth-child(even) {
  background-color: rgb(15, 99, 233, 0.15);
}
}