.HomeBox{
  width: 100%;
}
.text-scrolling {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 150px;
  color: rgb(15, 99, 233);
  overflow: hidden;
}
.scrolling-text-box {
  overflow: hidden;
}
.scrolling-text {
  white-space: nowrap;
  animation: scrollText1 20s linear infinite;
}

@keyframes scrollText1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 767px) {
  .text-scrolling {
    font-size: 50px;
  }
}