.searchSection {
 margin: 3rem 0 15rem 0;
}
.search-Item-Box {
}
.filterSection {
  display: flex;
}
.filterBoxContainer {
  margin-right: 40px;
}
.filterBox {
  width: 300px;
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.brandBox{
  margin-top: 10px;
}
.brandCheck_Box{
  padding: 3px 0;
}
.brandCheck_input{
  margin-right: 5px;
}
.brandCheck_label{

}
.productBox {
  width: 1200px;
}
.Searchitembox {
  transition: all 0.55s;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.noItemBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: 20px;
  color: rgb(82, 82, 82);
}
