.searchSection {
  margin-bottom: 100px;
}
.search-Item-Box {
}
.filterSection {
  display: flex;
}
.filterBoxContainer {
  margin-right: 40px;
}
.filterBox {
  width: 300px;
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.productBox {
  width: 1200px;
}
.itembox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
