.TransactionDetailSection {
  margin: 3rem 0 15rem 0;
  padding: 10px;
}
.TransactionDetailBox {
  display: flex;
  flex-direction: column;
}
.statusBox {
  margin: 10px 0 20px 0;
  display: flex;
  align-items: center;
}
.productTransactionTable {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.imageTransactionDetailProduct{
  width: 70px;
  height: 70px;
}
.productTransactionBox {
}
.productTransactionBox td {
  padding: 20px;
}
.productTransactionBox td:nth-child(3) {
  text-align: center;
}
.productTransactionBox td:nth-child(4) {
  text-align: center;
}
.productTransactionBox tr:hover {
  background-color: rgb(15, 99, 233, 0.1);
}